body{
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
body>*{
    position: absolute;
    top:0px;bottom: 0px;
    left: 0px;right: 0px;
    width: auto;
    height: auto;
}
#leftmenu{
    right: auto;
    width: 200px;
    background-color: rgb(53, 122, 131);
}
#maincont{
    left: 200px;
    background-color: rgb(53, 93, 131);
    overflow: hidden;
}
iframe{
    height:100%;
    width:100%;
    border: none;    
}