<h2>Config Panel</h2>
<table>
    <tr>
        <td>Hostname</td>
        <td>:</td>
        <td><input type="text" value="mercury.b2bires.com" name="hostname"></td>
    </tr>
    <tr>
        <td>Username</td>
        <td>:</td>
        <td><input type="text" value="ftpI00005226" name="username"></td>
    </tr>
    <tr>
        <td>Password</td>
        <td>:</td>
        <td><input type="password" value="mf834hjc" name="password"></td>
    </tr>
    <tr>
        <td colspan="3"><button onclick="setConfigOption()">Connect to FTP</button></td>
    </tr>
</table>
<script>
    function setConfigOption(){
        configFTP.host = document.querySelector('input[name=hostname]').value;
        configFTP.user = document.querySelector('input[name=username]').value;
        configFTP.password = document.querySelector('input[name=password]').value;
        enumerateEntiresFromFtp('/I00005226/anag/');
    }     
</script>