<h2>Parse file</h2>
<table>
    <tr>
        <td>Test 1</td>
        <td>:</td>
        <td><button onclick="loadFileLocal()">Test 1</button></td>
    </tr>
    <tr>
        <td>Test 2</td>
        <td>:</td>
        <td><select name="" id="">
                <option value="J1">JSON</option>
                <option value="DR">CSV - DetailReport</option>
                <option value="SR">CSV - SynthesisReport</option>
            </select></td>
    </tr>
    <tr>
        <td>Test 3</td>
        <td>:</td>
        <td><input type="text" value=""></td>
    </tr>
    <tr>
        <td colspan="3"><button onclick="enumerateEntiresFromFtp('/')">Call FTP server</button></td>
    </tr>
</table>
<script>    
    //call sql server
    let mainjs = require('../scripts/sql.js');
    //console.log(mainjs.prova.test);    
    //mainjs.callSQLServer();
    //load csv file
    function elaborateFile() {
        //select kind of file
        let schemaFile = 0;
        let patternToFollow = "";
        switch (schemaFile) {
            case "J1":
                break;
        }
        if (schemaFile == "J1") {

        } else {
            //read all lines
            let lines = [];
            //parse all lines to object
            for (let a = 0; a < lines.length; a++) {
                //what kind ov verify you want to do?
            }
        }
    }
</script>