<h2>Parse file</h2>
<table>
    <tr><td>Test 1</td><td>:</td><td><button>Test 1</button></td></tr>
    <tr><td>Test 2</td><td>:</td><td><button>Test 2</button></td></tr>
    <tr><td>Test 3</td><td>:</td><td><input type="text" value=""></td></tr>
</table>
<script>
    //load csv file
    function elaborateFile(){
        //select kind of file
        let schemaFile = 0;
        let patternToFollow = "";
        switch (schemaFile){
            case "a":
                break;                
        }
        //read all lines
        let lines = [];
        //parse all lines to object
        for (let a=0;a<lines.length;a++){
            //what kind ov verify you want to do?
        }        
    }
</script>